<% cache 'view', expires_in: 5.seconds do %>
<h1>This is a cached View</h1>
<p>Here is some cached paragraph text</p>
<ul>
  <% rand(1000).times do |i| %>
  <li>This is list item <%= i %></li>
  <% end %>
</ul>
<% end %>

